conditions-workspace {
	display: block;
	margin:5vh 0vh 5vh 5vw;
	font-size:16pt;
	  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

}

conditions-workspace .conditionListStyle{
line-height:1.5;
}
conditions-workspace .conditionListStyle:hover{
cursor:pointer;
}


conditions-workspace .listTitle{
font-weight:bold;
margin-left:10px;
}

