setup-store-selector {
	display: block;
	width:50%;
	padding:0px 15px 80px 15px;
	position:relative;
}

setup-store-selector .header{
	padding:15px 0px;
	border-bottom:1pt solid #666;
	font-weight:bold;
}

setup-store-selector .info{
	padding:15px 0px;
	border-bottom:1pt solid #666;
	font-weight:normal;
	font-size:80%;
	height:60px;
}

setup-store-selector .bottom{
	position:absolute;
	width:100%;
	padding:15px 0px;
	border-top:1pt solid #666;
	font-weight:normal;
	bottom:0px;
	left:0px;
	padding:15px;
}

setup-store-selector .product{
	padding:10px 0px;
	font-weight:bold;
	border:1pt solid transparent;
	cursor:pointer;
}

setup-store-selector .product:hover{
	font-weight:normal;
}

setup-store-selector .selected{
	border:1pt solid #333;
}
setup-store-selector .cancel{
	font-weight:normal;
	font-style:italic;
	font-size:80%;
}
setup-store-selector .cancel:hover{
	font-weight:bold;
}