user-admin-districts {
	display: block;
}

.demoList{
margin:50px;
}

.demoList div{
font-weight:bold;
margin-bottom:15px;
}

user-admin-districts .container{
/* distribute horizontally */	

display: flex;

flex-direction: row;

justify-content: space-between;
}




user-admin-districts .controls{
/* distribute horizontally */	

display: flex;

flex-direction: row;


justify-content: space-between;
width:87%;
margin-top:25px;
}

/*
.controls was
justify-content: flex-end;
before I added the note:
*/