user-nurse-student-selectorplus-manage-transferhistory {
	display: block;
	text-align:center;
}

user-nurse-student-selectorplus-manage-transferhistory .cancel{
	color:red;
	cursor:pointer;
}

user-nurse-student-selectorplus-manage-transferhistory .hide{
	color:green;
	cursor:pointer;
}

user-nurse-student-selectorplus-manage-transferhistory .cancel:hover{
	border:1pt solid gray;
}

user-nurse-student-selectorplus-manage-transferhistory .hide:hover{
	border:1pt solid gray;
}