body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  color:rgb(0, 80, 177);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

@basicBlue:rgb(66, 165, 245);

.basicBlue{
color:@basicBlue;
}

.sansSerif{
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

}

a{
	cursor:pointer;
	color:rgba(30%,30%,100%, 1);
	text-decoration:none;
}

a:hover{
	color:rgba(100%,30%,80%,1 );
}

input{
	font-weight:bold;
}

@placeHolderTrans: .6;
::placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}
::-moz-placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}
:-moz-placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}
::-webkit-input-placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}
:-ms-input-placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}
::-ms-input-placeholder{
color:rgba(66, 165, 245, @placeHolderTrans);
}

.lightLabel{
color:rgba(66, 165, 245, .7);
}
.lightLabel{
color:rgba(66, 165, 245, 1);
}

.c-heading--medium--center{
text-align:center;
vertical-align:middle;
padding:1em;
display:-webkit-flex;
display:flex;
flex-direction:columns;
-webkit-flex-direction: columns;

align-items:center; /*flex-start, flex-end, center, baseline, stretch*/
-webkit-align-items:center;
}

.errorText{
	color:red;
}

div.container div.closeSpot{
	font-size: 21pt;
	position: absolute;
	right: 10px;
	top: -3px;
}

.closeSpot{
	cursor:pointer;
}

.closeSpot:hover{
color:#ccc;
}


.container{
	border:1pt solid gray;
	margin:3vh 3vw;
	padding:2vh 2vw;
	position:relative;
}

.openSelectButton{
margin-top:5px;
}

.notificationToast {
    font-size: 12pt;
    height: 50px;
    margin: 0;
    padding: 0.9em 3em 0.9em 1em;
    position: absolute;
    right: 5px;
    top: 5px;
}

.notificationToast.save{
    width: auto;
}

.notificationToast.save.success{

    background: rgba(102, 187, 106, 0.5) none repeat scroll 0 0;
    }

.notificationToast.save.error{

    background: rgba(239, 79, 82, .5) none repeat scroll 0 0;
    }
    
.subsectionSelected{
	font-weight:bold;
	text-decoration:underline;
}

.confirmEmailStatusContainer{
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:50px;
	text-align:center;

	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-direction:row;
	-webkit-flex-direction: row;
}

.confirmEmailMessage{
	width:100%;
	color:@basicBlue;
	font-weight:normal;
}
    
.error{
	background:rgba(239, 79, 82, .5)
}
.incomplete{
	background:rgba(255, 152, 0, .5)
}
.success{
    background: rgba(102, 187, 106, 0.5) none repeat scroll 0 0;
}