user-nurse-student-selectorplus-manage-students {
	padding:10px;
	height:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

user-nurse-student-selectorplus-manage-students .student{
	margin:0px 25px;
}


user-nurse-student-selectorplus-manage-students>* {
        flex: 1 1 initial;
        cursor:pointer;
        color:#42a5f5;
        
    }
user-nurse-student-selectorplus-manage-students>*:hover {
        color:white;
        background:#42a5f5;
    }