main-footer {
	margin:20px;
	position:relative;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
main-footer .buttonContainer{
	position:absolute;
	bottom:5px;
	left:5px;
	font-size:8pt;
	height:10pt;
	padding:3px;
}
main-footer .buttonContainer button{
	background:rgba(66, 165, 245, .5);
}