main-footer {
	position:absolute;
	bottom:0px;
	width:100%;
	
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-direction:column;
	-webkit-flex-direction: column;

}