user-nurse-student-selector {
	display: block;
	margin-top:10px;
}

user-nurse-student-selector .c-drawer--bottom{
width:300px;
}

user-nurse-student-selector button.c-button.c-button--ghost.c-button--medium{
	margin-top:5px;
}

user-nurse-student-selector #studentSelector{
position:absolute;
right:120px;
width:300px;
}

user-nurse-student-selector .inactive{
color:#666;
}

user-nurse-student-selector .control{
font-weight:bold;
font-style:italic;
}

user-nurse-student-selector .control:hover{
font-weight:bold;
font-style:italic;
color:gray;
}

user-nurse-student-selector .c-menu{
max-height:80vh;
}