user-admin {
	display: block;
}

user-admin #adminNav.c-nav{
	margin:50px 50px 0px 0px;
	background-color:rgba(66, 165, 245, .2);
	color:rgba(66, 165, 245, 1);
}

user-admin .leftHorizontal{
margin-right:50px;
}