user-nurse-plan-editor {
	display: block;
}

user-nurse-plan-editor .title{
margin:15px 0 0px -5px;
}
user-nurse-plan-editor .diagnosis{
margin:15px 0px 10px 30px;
}
user-nurse-plan-editor .diagnosis .shortName{
	font-weight:bold;
	font-size:120%;
}
user-nurse-plan-editor .diagnosis .editable{
	margin:10px 0px 0px 0px;
}



user-nurse-plan-editor .showConditionButton{
margin-top:15px;
}
user-nurse-plan-editor .emphatic{
background:#42a5f5;
color:white;
}


user-nurse-plan-editor .startPlanNotification{
padding:5px 10px;
}



