user-nurse-plan-control-selector {
	display: block;
}



user-nurse-plan-control-selector button.c-button.c-button--ghost.c-button--medium{
	margin-top:5px;
}


user-nurse-plan-control-selector .openSelectButton{
width:250px;
}