user-nurse-plan-control-selector {
				display: flex;
				flex-direction: row;
				align-items: center;
}



user-nurse-plan-control-selector button.c-button.c-button--ghost.c-button--medium{
	margin-top:5px;
}


user-nurse-plan-control-selector .openSelectButton{
width:250px;
}



user-nurse-plan-control-selector .menuButton {
  border: medium none;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
user-nurse-plan-control-selector .hidden {
  display:none;
}
user-nurse-plan-control-selector .localStatusMessage {
  font-size:80%;
  color:red;
}
user-nurse-plan-control-selector .auxiliaryButtonContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-left:10px;
	       }

