conditions-workspace-item-editor {
	display: block;
	font-size:75%;
}

conditions-workspace-item-editor .o-panel{
position:relative;
	width:60vw;
	min-height:7em;
}
conditions-workspace-item-editor div.o-panel-container nav.c-nav.c-nav--top{
position:relative;
top:auto;
right:auto;
}

conditions-workspace-item-editor .o-panel--nav-top{
top:auto;
}

conditions-workspace-item-editor nav.c-nav{
background:rgb(181, 219, 247);
	width:60vw;
}

conditions-workspace-item-editor span.c-nav__content{
	padding:.3em 1em;
	color:rgb(0, 80, 177);
}