conditions-workspace-item-editor {
	display: block;
	margin-bottom:20px;
}

conditions-workspace-item-editor .title{
width:60vw
}

conditions-workspace-item-editor .shortTitle{
width:20vw
}


conditions-workspace-item-editor .c-field{
	display:inline;
}

conditions-workspace-item-editor .buttonContainer{
width:80.4vw;
}

conditions-workspace-item-editor .deleteButton{
float:right;
margin-top:3px;
}

conditions-workspace-item-editor .overlay{
display:inline-block;
padding:.9em 3em .9em 1em;
height:50px;
width:100px;
font-size:12pt;
background:rgba(102, 187, 106, .5);
margin:0px 0px;
}


conditions-workspace-item-editor .showOverlay{
display:inline-block;
}

conditions-workspace-item-editor .hideOverlay{
display:none;
}


conditions-workspace-item-editor .flexRow{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-direction:row;
	-webkit-flex-direction: row;

}
conditions-workspace-item-editor .errorText{
color:white;
margin:10px;
}

