user-nurse {
	display: block;
	position:relative;
}

user-nurse .controls{
height:105px;
padding-top:40px;
}

user-nurse .studentSelector{
position:absolute;
right:20vh;
z-index:100;
}

user-nurse .modeControl{
margin-top:5px;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-direction:row;
	-webkit-flex-direction: row;

}


html body div#workingContainer user-nurse div.controls div.studentSelector div.modeControl div.c-button.c-button--xsmall.c-button--primary.modeButton{
margin:0px 5px;
}
html body div#workingContainer user-nurse div.controls div.studentSelector div.modeControl div.c-button.c-button--xsmall.c-button--primary.modeButton.inactive{
background:rgba(70%,70%,70%, 5);
cursor:auto;
}



