user-nurse {
	display: block;
	position: relative;
	
}
user-nurse .controls {
	height: 45px;
	display: flex;
	justify-content: flex-end;
	
	
	margin: 0vh 3vw 3vh 3vw;
	padding: 0vh 2vw 2vh 2vw;
	position: relative;




}
user-nurse .studentSelector {
	margin-right:120px;
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
user-nurse .modeControl {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
user-nurse .modeControl .c-button{
	margin-right:10px;
}
html body div#workingContainer user-nurse div.controls div.studentSelector div.modeControl div.c-button.c-button--xsmall.c-button--primary.modeButton {
	margin: 0px 5px;
}
html body div#workingContainer user-nurse div.controls div.studentSelector div.modeControl div.c-button.c-button--xsmall.c-button--primary.modeButton.inactive {
	background: rgba(70%, 70%, 70%, 5);
	cursor: auto;
}



.studentSelectorManagerMode{
	position:absolute; top:-2vh; left:1vw;
	z-index: 100;
}
.receiveTransferContainer{
	position:absolute; top:-2vh; left:1vw;
	z-index: 120;
}