user-nurse-viewer {
	display: block;
}

#iframeContainer{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-align-items:center;
	align-items:center;
	flex-direction:column;
	-webkit-flex-direction: column;
}

user-nurse-viewer .pdfFrame{
width:60vw;
height:1000px;
}

user-nurse-viewer .downloadWarning{
font-size:8pt;
color: rgba(66, 165, 245, 0.7);
}

user-nurse-viewer .windowsWarning{
font-size:10pt;
color: rgba(66, 165, 245, 1);
margin-bottom:15px;
}