user-nurse-student-editor {
	display: block;
	position:relative;
}

user-nurse-student-editor .container{
	border:1pt solid gray;
	margin:3vh 3vw;
	padding:2vh 2vw;
	min-height:45vh;
	position:relative;
}

user-nurse-student-editor div.container div.segment{
	min-height:13vh;
}

user-nurse-student-editor div.container div.segment div.title{
	font-size:80%;
	font-weight:bold;
	margin:-1.8vh 0vw 0vh -1.8vw;
}

user-nurse-student-editor div.container div.segment div.entry{

}
