user-nurse-plan-editor-condition {
	display: block;
	position:relative;
}

@diagnosisControlsMargin:30px;

user-nurse-plan-editor-condition .overlay{
	padding:.9em 3em .9em 1em;
	height:50px;
	width:100px;
	font-size:12pt;
	background:rgba(102, 187, 106, .5);
	margin:0px 0px;
	position:absolute;
	top:5px;
	right:5px;
}
user-nurse-plan-editor-condition .showOverlay{
display:inline-block;
}

user-nurse-plan-editor-condition .hideOverlay{
display:none;
}

user-nurse-plan-editor-condition .deleteButton{
display:inline;
}

user-nurse-plan-editor-condition input.c-field.title{
display:inline;
width: 60.4vw;
}


user-nurse-plan-editor-condition .listTitle{
font-weight:bold;
margin-left:10px;
}

user-nurse-plan-editor-condition .editView{

	border-bottom:4pt solid #42a5f5;
	margin-bottom:10px;
	padding-bottom:30px;
}
user-nurse-plan-editor-condition .buttonContainer{

}

user-nurse-plan-editor-condition .menuButton {
  border: medium none;
  font-weight: bold;
  text-align: left;
  font-size:12pt;
}


user-nurse-plan-editor-condition .diagnosisContainer{
/* distribute horizontally */	
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-justify-content: space-after;
justify-content: space-after;
}


user-nurse-plan-editor-condition .diagnosisDetailsContainer{

}

user-nurse-plan-editor-condition .generalChange{
	width:@diagnosisControlsMargin;
	margin-top:13px;
	color:#adadad;
	cursor:pointer;
}

user-nurse-plan-editor-condition .closeSpot{
	width:@diagnosisControlsMargin;
}

user-nurse-plan-editor-condition .ndSelectorButton{
	margin-left:30px;
	display:block;
}

user-nurse-plan-editor-condition .diagnosisButton{
	padding:0px 3px;
	border:none;
	font-size:12pt;
	border:1px solid transparent;
}

user-nurse-plan-editor-condition .diagnosisButton:hover{
	border:1px solid gray;
}

user-nurse-plan-editor-condition div.editView div div.buttonContainer div.columns {
display:block;
-moz-column-width: 40vw;
-webkit-column-width: 40vw;
column-width: 40vw;

min-height:125px;
line-height:1.5;
padding:15px;

}

user-nurse-plan-editor-condition .condition{

	
}

user-nurse-plan-editor-condition .active{
cursor:pointer;
}

user-nurse-plan-editor-condition .inactive{
	color: #adadad;
}


user-nurse-plan-editor-condition .detail{
font-size:80%;
margin:3px 0px 3px 5px;
font-weight:normal;
}

user-nurse-plan-editor-condition .fileControls{

	margin-left:30px;
}
